/*nprogress.css*/
#nprogress{pointer-events:none}
#nprogress .bar{background:#29d;position:fixed;z-index:1031;top:0;left:0;width:100%;height:2px}
#nprogress .peg{display:block;position:absolute;right:0;width:100px;height:100%;box-shadow:0 0 10px #29d,0 0 5px #29d;opacity:1;-webkit-transform:rotate(3deg) translate(0,-4px);-ms-transform:rotate(3deg) translate(0,-4px);transform:rotate(3deg) translate(0,-4px)}
#nprogress .spinner{display:block;position:fixed;z-index:1031;top:15px;right:15px}
#nprogress .spinner-icon{width:18px;height:18px;box-sizing:border-box;border:2px solid transparent;border-top-color:#29d;border-left-color:#29d;border-radius:50%;-webkit-animation:nprogress-spinner 400ms linear infinite;animation:nprogress-spinner 400ms linear infinite}
.nprogress-custom-parent{overflow:hidden;position:relative}
.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner{position:absolute}
@-webkit-keyframes nprogress-spinner {
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@keyframes nprogress-spinner {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
/*app.css*/
@font-face{font-family:octicons-link;src:url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format("woff")}
.topic-detail-content{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#333;font-family:"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:16px;line-height:1.6;word-wrap:break-word}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
strong{font-weight:inherit;font-weight:bolder}
h1{font-size:2em;margin:.67em 0}
img{border-style:none}
svg:not(:root){overflow:hidden}
code,kbd,pre{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
input{font:inherit;margin:0;overflow:visible}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
[type="checkbox"]{box-sizing:border-box;padding:0}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
*{box-sizing:border-box}
input{font:13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}
a{color:#4078c0;text-decoration:none}
a:hover,a:active{text-decoration:underline}
hr{height:0;margin:15px 0;overflow:hidden;background:transparent;border:0;border-bottom:1px solid #ddd}
hr::before{display:table;content:""}
hr::after{display:table;clear:both;content:""}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0;line-height:1.5}
h1{font-size:30px}
h2{font-size:21px}
h3{font-size:16px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:11px}
p{margin-top:0;margin-bottom:10px}
blockquote{margin:0}
ul,ol{padding-left:0;margin-top:0;margin-bottom:0}
ol ol,ul ol{list-style-type:lower-roman}
ul ul ol,ul ol ol,ol ul ol,ol ol ol{list-style-type:lower-alpha}
dd{margin-left:0}
code{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:12px}
pre{margin-top:0;margin-bottom:0;font:12px Consolas,"Liberation Mono",Menlo,Courier,monospace}
.pl-0{padding-left:0!important}
.pl-1{padding-left:3px!important}
.pl-2{padding-left:6px!important}
.pl-3{padding-left:12px!important}
.pl-4{padding-left:24px!important}
.pl-5{padding-left:36px!important}
.pl-6{padding-left:48px!important}
.form-select::-ms-expand{opacity:0}
.topic-detail-content:before{display:table;content:""}
.topic-detail-content:after{display:table;clear:both;content:""}
.topic-detail-content>:first-child{margin-top:0!important}
.topic-detail-content>:last-child{margin-bottom:0!important}
a:not([href]){color:inherit;text-decoration:none}
.anchor{display:inline-block;padding-right:2px;margin-left:-18px}
.anchor:focus{outline:none}
h1,h2,h3,h4,h5,h6{margin-top:1em;margin-bottom:16px;font-weight:700;line-height:1.4}
h1 .octicon-link,h2 .octicon-link,h3 .octicon-link,h4 .octicon-link,h5 .octicon-link,h6 .octicon-link{color:#000;vertical-align:middle;visibility:hidden}
h1:hover .anchor,h2:hover .anchor,h3:hover .anchor,h4:hover .anchor,h5:hover .anchor,h6:hover .anchor{text-decoration:none}
h1:hover .anchor .octicon-link,h2:hover .anchor .octicon-link,h3:hover .anchor .octicon-link,h4:hover .anchor .octicon-link,h5:hover .anchor .octicon-link,h6:hover .anchor .octicon-link{visibility:visible}
h1{padding-bottom:.3em;font-size:2.25em;line-height:1.2;border-bottom:1px solid #eee}
h1 .anchor{line-height:1}
h2{padding-bottom:.3em;font-size:1.75em;line-height:1.225;border-bottom:1px solid #eee}
h2 .anchor{line-height:1}
h3{font-size:1.5em;line-height:1.43}
h3 .anchor{line-height:1.2}
h4{font-size:1.25em}
h4 .anchor{line-height:1.2}
h5{font-size:1em}
h5 .anchor{line-height:1.1}
h6{font-size:1em;color:#777}
h6 .anchor{line-height:1.1}
p,blockquote,ul,ol,dl,table,pre{margin-top:0;margin-bottom:16px}
hr{height:4px;padding:0;margin:16px 0;background-color:#e7e7e7;border:0 none}
ul,ol{padding-left:1.5em}
ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0}
li>p{margin-top:16px}
dl{padding:0}
dl dt{padding:0;margin-top:16px;font-size:1em;font-style:italic;font-weight:700}
dl dd{padding:0 16px;margin-bottom:16px}
.topic-detail-content img,.comment-detail-content img{max-width:100%;box-sizing:content-box;background-color:#fff}
kbd{display:inline-block;padding:3px 5px;font-size:11px;line-height:10px;color:#555;vertical-align:middle;background-color:#fcfcfc;border:solid 1px #ccc;border-bottom-color:#bbb;box-shadow:inset 0 -1px 0 #bbb}
.pl-c{color:#969896}
.pl-c1,.pl-s .pl-v{color:#0086b3}
.pl-e,.pl-en{color:#795da3}
.pl-s .pl-s1,.pl-smi{color:#333}
.pl-ent{color:#63a35c}
.pl-k{color:#a71d5d}
.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre{color:#183691}
.pl-v{color:#ed6a43}
.pl-id{color:#b52a1d}
.pl-ii{background-color:#b52a1d;color:#f8f8f8}
.pl-sr .pl-cce{color:#63a35c;font-weight:700}
.pl-ml{color:#693a17}
.pl-mh,.pl-mh .pl-en,.pl-ms{color:#1d3e81;font-weight:700}
.pl-mq{color:teal}
.pl-mi{color:#333;font-style:italic}
.pl-mb{color:#333;font-weight:700}
.pl-md{background-color:#ffecec;color:#bd2c00}
.pl-mi1{background-color:#eaffea;color:#55a532}
.pl-mdr{color:#795da3;font-weight:700}
.pl-mo{color:#1d3e81}
kbd{display:inline-block;padding:3px 5px;font:11px Consolas,"Liberation Mono",Menlo,Courier,monospace;line-height:10px;color:#555;vertical-align:middle;background-color:#fcfcfc;border:solid 1px #ccc;border-bottom-color:#bbb;box-shadow:inset 0 -1px 0 #bbb}
.full-commit .btn-outline:not(:disabled):hover{color:#4078c0;border:1px solid #4078c0}
:checked+.radio-label{position:relative;z-index:1;border-color:#4078c0}
.octicon{display:inline-block;vertical-align:text-top;fill:currentColor}
.task-list-item{list-style-type:none}
.task-list-item+.task-list-item{margin-top:3px}
.task-list-item input{margin:0 .2em .25em -1.6em;vertical-align:middle}
hr{border-bottom-color:#eee}
.topic-detail-content pre{padding:5px}
.comment-detail-content{margin-left:20px;word-break:break-all}
.comment-detail-content pre{padding:10px}
.comment-detail-content img{max-width:100%}
body{font-family:"Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei",sans-serif}
.wrapper{width:100%;background-color:#e5e5e5}
.title a:visited{color:#888}
.avatar{border-radius:4px;max-width:48px}
.avatar-sm{border-radius:4px;max-width:24px}
.avatar-lg{border-radius:4px;max-width:64px}
.title{font-size:16px;font-weight:500;padding-bottom:5px}
.topic-detail-header{padding-bottom:0}
.topic-detail-title{margin-top:0;font-weight:500}
.topic-append-content{background-color:#fffff9}
.gray{color:#999}
.payload{width:100%;background-color:#f5f5f5;padding:5px 10px;word-break:break-all;word-wrap:break-word;margin-top:5px;margin-bottom:5px}
.payload img,.user_comments img{max-width:100%}
.mar-top-5{margin-top:5px}
.mar-bot-5{margin-bottom:5px}
.mar-bot-10{margin-bottom:10px}
.pad-bot-10{padding-bottom:10px}
.divide{border-top:1px solid #eee}
.header-navbar li a{padding-left:15px;padding-right:15px}
.paginate-bot{padding-bottom:0}
.permission-item.active a{color:#fff}
.panel{border:0;margin-bottom:10px}
.panel td{padding-left:15px!important;padding-right:15px!important}
.panel th{padding-left:15px!important;padding-right:15px!important}
form textarea{resize:vertical}
#error_message{color:red}
.panel-body-comment{padding:0}
.media-comment:first-child{padding:15px 15px 0;margin-top:0}
.media-comment{padding:0 15px;margin-top:0}
.comment-highlight{background-color:#f4fcf0}
.nav-pills > li > a{position:relative;display:block;padding:0 5px}
.up-down-disable{cursor:pointer}
.up-down-enable{cursor:pointer;color:#337ab7}
#menu .fa{border:1px solid #fff;cursor:pointer;border-radius:3px;padding:4px}
#menu .fa:hover{border:1px solid #ccc}
#pre_div{background-color:#fafafa;border-radius:4px;padding:10px}
#pre_div img{max-width:100%}
.upload-area{border:4px dashed #ddd;text-align:center;height:100px;line-height:100px}
.upload-area-active{border-color:#7A7A7A}
.progress{margin-bottom:0;text-align:center;position:relative}
.progress .progress-bar{position:absolute;width:0}
.progress div{color:#545454;position:absolute;width:100%}
.file-delete{color:red;position:absolute;right:-5px;top:-5px;font-size:16px;cursor:pointer}
.table>tbody>tr>td{word-break:break-all}
.nodes>a{width:80px;margin-right:20px}
.col-md-3,.col-md-9,.col-md-2,.col-md-10{padding:0 5px}
.origin-avatar{max-width:100%}
.embedded_video_wrapper{position:relative;padding-bottom:56.25%;height:0}
.embedded_video{position:absolute;width:100%;height:100%}
.show_big_image img{cursor:pointer}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ellipsis-3{display:-webkit-box;word-wrap:break-word;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.search-result img{max-width:100%}
.more-box{position:absolute;width:100%;z-index:10;left:0;bottom:0;height:60px;background:-moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));background:-webkit-gradient(linear,0 top,0 60%,from(rgba(255,255,255,0)),to(#fff));background:-o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:end;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}