<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yiiu.module.code.mapper.CodeMapper">
  <resultMap id="BaseResultMap" type="co.yiiu.module.code.pojo.Code">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
    <result column="is_used" jdbcType="BIT" property="isUsed"/>
    <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, code, email, expire_time, is_used, mobile, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM code
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="co.yiiu.module.code.pojo.Code">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into code (code, email, expire_time,
    is_used, mobile, type)
    values (#{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{expireTime,jdbcType=TIMESTAMP},
    #{isUsed,jdbcType=BIT}, #{mobile,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="co.yiiu.module.code.pojo.Code">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="isUsed != null">
        is_used,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUsed != null">
        #{isUsed,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="co.yiiu.module.code.pojo.Code">
    update code
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUsed != null">
        is_used = #{isUsed,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="co.yiiu.module.code.pojo.Code">
    UPDATE code
    SET code      = #{code,jdbcType=VARCHAR},
      email       = #{email,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      is_used     = #{isUsed,jdbcType=BIT},
      mobile      = #{mobile,jdbcType=VARCHAR},
      type        = #{type,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <!--自定义方法-->
  <select id="findByEmailAndCodeAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from code
    <where>
      <if test="email != null">
        email = #{email}
      </if>
      <if test="code != null">
        and `code` = #{code}
      </if>
      <if test="type != null">
        and `type` = #{type}
      </if>
    </where>
  </select>
</mapper>