<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yiiu.module.user.mapper.RememberMeTokenMapper">
  <resultMap id="BaseResultMap" type="co.yiiu.module.user.pojo.RememberMeToken">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="date" jdbcType="TIMESTAMP" property="date"/>
    <result column="series" jdbcType="VARCHAR" property="series"/>
    <result column="token_value" jdbcType="VARCHAR" property="tokenValue"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, date, series, token_value, username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from remember_me_token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM remember_me_token
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="co.yiiu.module.user.pojo.RememberMeToken">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into remember_me_token (date, series, token_value,
    username)
    values (#{date,jdbcType=TIMESTAMP}, #{series,jdbcType=VARCHAR}, #{tokenValue,jdbcType=VARCHAR},
    #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="co.yiiu.module.user.pojo.RememberMeToken">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into remember_me_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        date,
      </if>
      <if test="series != null">
        series,
      </if>
      <if test="tokenValue != null">
        token_value,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="series != null">
        #{series,jdbcType=VARCHAR},
      </if>
      <if test="tokenValue != null">
        #{tokenValue,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="co.yiiu.module.user.pojo.RememberMeToken">
    update remember_me_token
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="series != null">
        series = #{series,jdbcType=VARCHAR},
      </if>
      <if test="tokenValue != null">
        token_value = #{tokenValue,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="co.yiiu.module.user.pojo.RememberMeToken">
    UPDATE remember_me_token
    SET date      = #{date,jdbcType=TIMESTAMP},
      series      = #{series,jdbcType=VARCHAR},
      token_value = #{tokenValue,jdbcType=VARCHAR},
      username    = #{username,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <!--自定义方法-->
  <select id="findBySeries" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from remember_me_token where series = #{series}
  </select>
  <delete id="deleteByUsername" parameterType="java.lang.String">
    DELETE FROM remember_me_token
    WHERE username = #{username}
  </delete>
  <select id="findAllByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from remember_me_token where username = #{username} order by date asc
  </select>
</mapper>