<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.yiiu.module.tag.mapper.TagMapper" >
  <resultMap id="BaseResultMap" type="co.yiiu.module.tag.pojo.Tag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="topic_count" property="topicCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, in_time, intro, logo, name, topic_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="co.yiiu.module.tag.pojo.Tag" >
    insert into tag (id, in_time, intro, 
      logo, name, topic_count
      )
    values (#{id,jdbcType=INTEGER}, #{inTime,jdbcType=TIMESTAMP}, #{intro,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{topicCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="co.yiiu.module.tag.pojo.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inTime != null" >
        in_time,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="topicCount != null" >
        topic_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="topicCount != null" >
        #{topicCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="co.yiiu.module.tag.pojo.Tag" >
    update tag
    <set >
      <if test="inTime != null" >
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="topicCount != null" >
        topic_count = #{topicCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="co.yiiu.module.tag.pojo.Tag" >
    update tag
    set in_time = #{inTime,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      topic_count = #{topicCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>