<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yiiu.module.topic.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="co.yiiu.module.topic.pojo.Topic">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
    <result column="down" jdbcType="INTEGER" property="down"/>
    <result column="good" jdbcType="BIT" property="good"/>
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime"/>
    <result column="last_comment_time" jdbcType="TIMESTAMP" property="lastCommentTime"/>
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    <result column="tag" jdbcType="VARCHAR" property="tag"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="top" jdbcType="BIT" property="top"/>
    <result column="up" jdbcType="INTEGER" property="up"/>
    <result column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="view" jdbcType="INTEGER" property="view"/>
    <result column="weight" jdbcType="DOUBLE" property="weight"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="co.yiiu.module.topic.pojo.TopicWithBLOBs">
    <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    <result column="down_ids" jdbcType="LONGVARCHAR" property="downIds"/>
    <result column="up_ids" jdbcType="LONGVARCHAR" property="upIds"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, comment_count, down, good, in_time, last_comment_time, modify_time, tag, title,
    top, up, user_id, view, weight
  </sql>
  <sql id="Blob_Column_List">
    content, down_ids, up_ids
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM topic
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="co.yiiu.module.topic.pojo.TopicWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic (comment_count, down, good,
    in_time, last_comment_time, modify_time,
    tag, title, top, up,
    user_id, view, weight,
    content, down_ids, up_ids
    )
    values (#{commentCount,jdbcType=INTEGER}, #{down,jdbcType=INTEGER}, #{good,jdbcType=BIT},
    #{inTime,jdbcType=TIMESTAMP}, #{lastCommentTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
    #{tag,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{top,jdbcType=BIT}, #{up,jdbcType=INTEGER},
    #{userId,jdbcType=INTEGER}, #{view,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE},
    #{content,jdbcType=LONGVARCHAR}, #{downIds,jdbcType=LONGVARCHAR}, #{upIds,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="co.yiiu.module.topic.pojo.TopicWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="down != null">
        down,
      </if>
      <if test="good != null">
        good,
      </if>
      <if test="inTime != null">
        in_time,
      </if>
      <if test="lastCommentTime != null">
        last_comment_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="top != null">
        top,
      </if>
      <if test="up != null">
        up,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="view != null">
        view,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="downIds != null">
        down_ids,
      </if>
      <if test="upIds != null">
        up_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="down != null">
        #{down,jdbcType=INTEGER},
      </if>
      <if test="good != null">
        #{good,jdbcType=BIT},
      </if>
      <if test="inTime != null">
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastCommentTime != null">
        #{lastCommentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        #{top,jdbcType=BIT},
      </if>
      <if test="up != null">
        #{up,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="view != null">
        #{view,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="downIds != null">
        #{downIds,jdbcType=LONGVARCHAR},
      </if>
      <if test="upIds != null">
        #{upIds,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="co.yiiu.module.topic.pojo.TopicWithBLOBs">
    update topic
    <set>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="down != null">
        down = #{down,jdbcType=INTEGER},
      </if>
      <if test="good != null">
        good = #{good,jdbcType=BIT},
      </if>
      <if test="inTime != null">
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastCommentTime != null">
        last_comment_time = #{lastCommentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        top = #{top,jdbcType=BIT},
      </if>
      <if test="up != null">
        up = #{up,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="view != null">
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="downIds != null">
        down_ids = #{downIds,jdbcType=LONGVARCHAR},
      </if>
      <if test="upIds != null">
        up_ids = #{upIds,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="co.yiiu.module.topic.pojo.TopicWithBLOBs">
    UPDATE topic
    SET comment_count   = #{commentCount,jdbcType=INTEGER},
      down              = #{down,jdbcType=INTEGER},
      good              = #{good,jdbcType=BIT},
      in_time           = #{inTime,jdbcType=TIMESTAMP},
      last_comment_time = #{lastCommentTime,jdbcType=TIMESTAMP},
      modify_time       = #{modifyTime,jdbcType=TIMESTAMP},
      tag               = #{tag,jdbcType=VARCHAR},
      title             = #{title,jdbcType=VARCHAR},
      top               = #{top,jdbcType=BIT},
      up                = #{up,jdbcType=INTEGER},
      user_id           = #{userId,jdbcType=INTEGER},
      view              = #{view,jdbcType=INTEGER},
      weight            = #{weight,jdbcType=DOUBLE},
      content           = #{content,jdbcType=LONGVARCHAR},
      down_ids          = #{downIds,jdbcType=LONGVARCHAR},
      up_ids            = #{upIds,jdbcType=LONGVARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="co.yiiu.module.topic.pojo.Topic">
    UPDATE topic
    SET comment_count   = #{commentCount,jdbcType=INTEGER},
      down              = #{down,jdbcType=INTEGER},
      good              = #{good,jdbcType=BIT},
      in_time           = #{inTime,jdbcType=TIMESTAMP},
      last_comment_time = #{lastCommentTime,jdbcType=TIMESTAMP},
      modify_time       = #{modifyTime,jdbcType=TIMESTAMP},
      tag               = #{tag,jdbcType=VARCHAR},
      title             = #{title,jdbcType=VARCHAR},
      top               = #{top,jdbcType=BIT},
      up                = #{up,jdbcType=INTEGER},
      user_id           = #{userId,jdbcType=INTEGER},
      view              = #{view,jdbcType=INTEGER},
      weight            = #{weight,jdbcType=DOUBLE}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <!--自定义方法-->
  <select id="findTopic" resultType="map">
    select t.*, u.username, u.avatar from topic t left join user u on t.user_id = u.id
    <where>
      <if test="userId != null">
        t.user_id = #{userId}
      </if>
      <if test="good != null">
        and t.good = #{good,jdbcType=BIT}
      </if>
      <if test="top != null">
        and t.top = #{top,jdbcType=BIT}
      </if>
      <if test="commentCount != null">
        and t.comment_count = #{commentCount}
      </if>
      <if test="startTime != null and endTime != null">
        and t.in_time between #{startTime} and #{endTime}
      </if>
    </where>
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
    limit #{pageNo}, #{pageSize}
  </select>
  <select id="countTopic" resultType="java.lang.Integer">
    select count(1) from topic
    <where>
      <if test="userId != null">
        user_id = #{userId}
      </if>
      <if test="good != null">
        and good = #{good,jdbcType=BIT}
      </if>
      <if test="top != null">
        and top = #{top,jdbcType=BIT}
      </if>
      <if test="commentCount != null">
        and comment_count = #{commentCount}
      </if>
      <if test="startTime != null and endTime != null">
        and in_time between #{startTime} and #{endTime}
      </if>
    </where>
  </select>
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    DELETE FROM topic
    WHERE user_id = #{userId}
  </delete>
  <select id="findByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from topic where title = #{title}
  </select>
  <select id="findTopicsByTagId" resultType="map">
    select t.*, u.username, u.avatar from topic t left join topic_tag tt on t.id = tt.topic_id left join user u on
    t.user_id = u.id
    where tt.tag_id = #{tagId}
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
    <if test="pageNo != null and pageSize != null">
      limit #{pageNo}, #{pageSize}
    </if>
  </select>
  <select id="countTopicsByTagId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(1)
    FROM topic t LEFT JOIN topic_tag tt ON t.id = tt.topic_id
    WHERE tt.tag_id = #{tagId}
  </select>
  <select id="findAll" resultMap="ResultMapWithBLOBs">
    select<include refid="Base_Column_List"/>,
    <include refid="Blob_Column_List"/>
    from topic
  </select>
</mapper>