<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yiiu.module.attachment.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="co.yiiu.module.attachment.pojo.Attachment">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
    <result column="height" jdbcType="INTEGER" property="height"/>
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime"/>
    <result column="local_path" jdbcType="VARCHAR" property="localPath"/>
    <result column="md5" jdbcType="VARCHAR" property="md5"/>
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl"/>
    <result column="size" jdbcType="VARCHAR" property="size"/>
    <result column="suffix" jdbcType="VARCHAR" property="suffix"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="width" jdbcType="INTEGER" property="width"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, file_name, height, in_time, local_path, md5, request_url, size, suffix, type,
    width
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM attachment
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="co.yiiu.module.attachment.pojo.Attachment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attachment (file_name, height, in_time,
    local_path, md5, request_url,
    size, suffix, type,
    width)
    values (#{fileName,jdbcType=VARCHAR}, #{height,jdbcType=INTEGER}, #{inTime,jdbcType=TIMESTAMP},
    #{localPath,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR}, #{requestUrl,jdbcType=VARCHAR},
    #{size,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
    #{width,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="co.yiiu.module.attachment.pojo.Attachment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        file_name,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="inTime != null">
        in_time,
      </if>
      <if test="localPath != null">
        local_path,
      </if>
      <if test="md5 != null">
        md5,
      </if>
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="suffix != null">
        suffix,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="width != null">
        width,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="inTime != null">
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="localPath != null">
        #{localPath,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="co.yiiu.module.attachment.pojo.Attachment">
    update attachment
    <set>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="inTime != null">
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="localPath != null">
        local_path = #{localPath,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="co.yiiu.module.attachment.pojo.Attachment">
    UPDATE attachment
    SET file_name = #{fileName,jdbcType=VARCHAR},
      height      = #{height,jdbcType=INTEGER},
      in_time     = #{inTime,jdbcType=TIMESTAMP},
      local_path  = #{localPath,jdbcType=VARCHAR},
      md5         = #{md5,jdbcType=VARCHAR},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      size        = #{size,jdbcType=VARCHAR},
      suffix      = #{suffix,jdbcType=VARCHAR},
      type        = #{type,jdbcType=VARCHAR},
      width       = #{width,jdbcType=INTEGER}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <!--自定义方法-->
  <select id="findByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from attachment
    where md5 = #{md5}
  </select>
</mapper>