.ellipsis-1 {	/*1溢出*/
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.spacer, .YK_set .spacer {
    clear: both;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    margin: 20px auto;
    background: transparent url("../img/spacer.png") repeat-x scroll 0 0;
}

.pre_backgroud_color {
    margin-top: 5px;
    /*border-top: 1px solid #e2e2e2;*/
    padding: 10px;
    background-color: #f9f9f5;
}
.pre_backgroud_color img {
    max-width: 100%;
}

#topic_content img{
    max-width: 100%;
}

.reply_content img {
    max-width: 100%
}

.np-label-digest {
    background: url(../img/digest.gif) no-repeat;
}

.np-label-del {
    background: url(../img/del.gif) right 10px no-repeat;
}

.modal-body img{
    max-width: 100%;
}

.label-item {
    margin-right: 3px;
    padding: .6em;
}

.label-item-sm {
    margin-right: 3px;
    padding: .1em;
}

.label-item a {
    font-size: 16px;
}

#labels {
    line-height: 20px;
}

#labels .label {
    overflow: hidden;
    display: inline-block;
}

/*================================*/

body {
    font-family: "Microsoft YaHei", SimSun, SimHei;
    line-height: 1.72222;
}

.nav-pills>li>a {
    padding: 0 5px 0 5px;
}

.breadcrumb {
    padding: 0px 15px 0px 5px;
    margin-bottom: 0px;
}

.breadcrumb ol {
    margin-bottom: 0px;
}

.panel {
    margin-bottom: 10px;
}

.navbar {
    border: 0;
}