body {
  background-color: #fff;
}
footer {
  background-color: #fff;
  padding: 15px 0;
}
.CodeMirror {
  border: 1px solid #ddd;
}
.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}
.wrapper {background-color: #e5e5e5; width: 100%;}
.title{font-size:16px;font-weight:500;padding-bottom:5px}
.title a:visited{color:#888}
.nav-pills>li>a{position:relative;display:block;padding:0 5px}
.avatar{border-radius:4px;max-width:48px;vertical-align: middle;}
.avatar-sm{max-width:24px;}
.avatar-lg{max-width:64px;}
.gray{color:#999}
.divide{border-top:1px solid #eee;margin-top: 5px;}
.comment-detail-content{margin-left:20px;word-break:break-all}
.comment-detail-content pre{padding:10px}
.comment-detail-content img{max-width:100%}
.panel>.table td,.panel>.table th {
  padding-left: 15px;
  padding-right: 15px;
}
.topic-detail-header{padding-bottom:0}
.topic-detail-title{margin-top:0;font-weight:500}
.nocomment-tip {
  text-align: center;
  border: 2px dashed rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 15px;
  line-height: 150%;
  margin-bottom: 20px;
}
.social_label:link,.social_label:visited {
  background-color: #f9f9f9;
  padding: 5px 15px 5px 6px;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  outline: 0;
  margin: 5px;
  color: #778087;
}
.social_label:hover {
  background-color: #e9e9e9;
  outline: 0
}
.social_label:active {
  box-shadow: 0 2px 5px rgba(0,0,0,.2) inset;
  outline: 0
}
.social_label>.fa {
  font-size: 24px;
  vertical-align: middle;
}
.tag-item {
  margin-bottom: 10px;
  padding-left: 10px;
  height:100px;
  border-bottom: 1px solid #eee;
}
.excerpt {
  display: block;
  margin-top: 10px;
  overflow: hidden;
  height: 50px;
}
.payload{width:100%;background-color:#f5f5f5;padding:5px 10px;word-break:break-all;word-wrap:break-word;margin-top:5px;margin-bottom:5px}
.payload img,.user_comments img{max-width:100%}
