<nav class="navbar navbar-inverse" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:#fff;" th:href="@{/}" href="/" th:text="${siteTitle}">pybbs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse header-navbar">
            <div th:if="${_search}">
                <form class="navbar-form navbar-left" role="search" action="/search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" th:value="${q}" placeholder="回车搜索"/>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li class="hidden-md hidden-lg">
                    <a href="/topic/create">发布话题</a>
                </li>
                <li th:class="${page_tab eq 'notification'} ? active">
                    <a href="/notification/list">通知 <span class="badge" id="badge"></span></a>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function notificationCount() {
                            $.ajax({
                                url: "/api/notification/notRead",
                                async: true,
                                cache: false,
                                type: "get",
                                dataType: "json",
                                success: function (data) {
                                    if (data.code == 200 && data.detail > 0) {
                                        $("#badge").text(data.detail);
                                    }
                                }
                            });
                        }
                        notificationCount();
                        setInterval(function () {
                            notificationCount();
                        }, 120000);
                        /*]]>*/
                    </script>
                </li>
                <li th:class="${page_tab eq 'user'} ? active">
                    <a th:href="@{/user/__${_principal}__}">
                        <span sec:authentication="name"></span>
                    </a>
                </li>
                <li th:class="${page_tab eq 'setting'} ? active">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       data-hover="dropdown">
                        设置
                        <span class="caret"></span>
                    </a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/setting}">个人资料</a></li>
                        <li sec:authorize="hasRole('admin')"><a th:href="@{/admin/index}">进入后台</a></li>
                        <li><a th:href="@{/logout}">退出</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                <li th:class="${page_tab eq 'login'} ? active"><a href="/login">登录</a></li>
                <li th:class="${page_tab eq 'register'} ? active"><a href="/register">注册</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:class="${page_tab eq 'about'} ? active">
                    <a href="/about">关于</a>
                </li>
            </ul>
        </div>
    </div>
</nav>