<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>朋也社区</title>
    <link rel="icon" href="//tomoya.cn/favicon.ico"/>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/github.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/pybbs.css"/>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/libs/layer/layer.js"></script>
</head>
<body>
<div th:include="thymeleaf/layout/header"></div>
<div layout:fragment="content" class="container"></div>
<div th:include="thymeleaf/layout/footer"></div>
</body>
</html>